* {
    font-family: sans-serif;
    margin: auto;
    text-align: center;
    background-color: black;
  }

  .text {
    padding: 30px;
  }

 input.inputstyle {
    border-radius: 10px;
    width: 100%;
}
  
  .table {
    margin: auto;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .table thead tr {
    background-color: gray;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .table th,
  .table td {
    padding: 12px 15px;
    text-align: left
  }
  
  .table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  


